<div class="container mt-5">
  <%= form_with model: @opinion, local: true do |f| %>
  
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, required: true, class: 'form-control', placeholder: 'name'%>
    </div>
    <div class="form-group">
      <div><%= f.label :picture %></div>
      <div><%= f.file_field :image %></div>
    </div>
    <button type="submit" class="btn btn-primary">Update Acccount</button>
  <% end %>
</div>